{
  "parser": "babel-eslint",
  "extends": "airbnb",
  
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "no-multiple-empty-lines": "error",
    "semi": ["error", "always"],
    "comma-dangle": ["error", "always-multiline"],
    "linebreak-style": ["error", "windows"],
    "no-console": ["error", {"allow": ["warn", "error"] }],
    "no-use-before-define": [2, { "functions": false, "classes": true }]
  },
  "globals": {
    "fetch": false,
    "document": true,
    "navigator":true
  }
}
